###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache
###< phpunit/phpunit ###

###> PHP ###
*.cache
*.log
###< PHP ###

###> IDE ###
/.idea
/.vscode
*.swp
*.swo
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
